.main-btn {
  button {
    width: 200px;
    height: 60px;
    background: #ff1644;
    border-radius: 4px;
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}

