<div class="main">
  <div class="slider-card">
    <div class="top-title">
      <h4>14 მაისი</h4>
    </div>
    <img src="../../../assets/img/slider-card.png" alt="" class="main-img">
    <div class="percentage">
      <span>14%</span>
    </div>
    <div class="win-lose">
      <div class="win">
        <img src="../../../assets/img/accept-icon.png" alt="">
      </div>
      <div class="lose">
        <img src="../../../assets/img/cancel-icon.png" alt="">
      </div>
    </div>
    <div class="progress-indicator">
       <div class="left">
         <span>0₾</span>
       </div>
      <div class="progress-bar">
        <div class="txt-indicator">
          <div class="alig">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="33px" height="24px">
              <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                    d="M23.553,18.894 L19.669,18.894 L16.650,24.002 L13.630,18.894 L9.447,18.894 C4.229,18.894 -0.000,14.664 -0.000,9.446 C-0.000,4.229 4.229,-0.001 9.447,-0.001 L23.553,-0.001 C28.770,-0.001 32.1000,4.229 32.1000,9.446 C32.1000,14.664 28.770,18.894 23.553,18.894 Z"/>
            </svg>
            <span>35</span>
          </div>
        </div>
        <div class="progress-bar-outer">
          <div class="progress-bar-inner">

          </div>
        </div>
      </div>
      <div class="right">
        <span>250₾</span>
      </div>
    </div>
  </div>
</div>

